.background {
    background-image: url(../img/fond-patient.jpg);
    background-size: cover;
}

a {
    text-decoration: none !important;
}

.search {
    border: none;
    background-color: transparent;
}